{% extends "base.html" %}
{% from "form_macros.html" import render_field %}


{% block title %}
{{ title }}
{%  endblock %}

{% block content %}
    <section>
        <h1>{{ title }}</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.question, size= 300) }}
                {{ render_field(form.option1, size= 300) }}
                {{ render_field(form.option2, size= 300) }}
                {{ render_field(form.option3, size= 300) }}
                {{ render_field(form.option4, size= 300) }}
                {{ render_field(form.answer) }}
                <tr class="submit">
                    <td></td>
                    <td><button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
