{% extends "base.html" %}

{% block title %}
Thermos- App
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welcome</h1>
        <p>My first python flask project.</p>
    </header>
    <section>
        <h2>Recently Added bookmarks:</h2>
        {% if new_bookmarks.count() > 0 %}
        {% with bookmarks = new_bookmarks %}
        {% include 'bookmarks_list.html' %}
        {% endwith %}
        {% else %}
        No bookmarks yet.
        {% endif %}
    </section>
</article>
{% endblock %}